h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 230, 94);
    width: 100vh;
    height: 10vh;
}
.gora {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.lewo {
    display: flex;
    justify-content: left;
    width: 20%;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
header{
    width: 100%;
}
.prawo {
    display: flex;
    justify-content: right;
    width: 20%;
}